
.wrap {
    width: 100%;
    overflow:auto;
}

.paragraph{
    height: 30%;
    background:lightblue;
}
.fleft {
    float:left;
    width: 30%;
    background:lightblue;
    height: 70%;
}

.board{
    float:left;
    width: 70%;
    background:lightblue;
    height:70%;

}








